* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-image: url('../Assets/Images/RPS.jpg');
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: cover;
  /* background: url('../Assets/Images/RPS.jpg') no-repeat center/cover;
  height: 100vh;
  background-attachment: fixed; */
}
.container {
  width: 80%;
  height: 500px;
  background-color: #fff;
}
.Pupg Players {
}
