@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,700;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


html {
  font-size: 16px;
}

body {
  /* background-image: url('../Assets/Images/RPS.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-size: cover; */
  /* background: url('../Assets/Images/RPS.jpg') no-repeat center/cover; */
  /* background-attachment: fixed; */
  /* background: linear-gradient(45deg, black, white, pink); */

  background-image: linear-gradient( 134.6deg,  rgba(201,37,107,1) 15.4%,
         rgba(116,16,124,1) 74.7% );
         color: rgb(22, 21, 22);
         height: 100vh;
         
} 

img{
  width: 70px;
  height: 80px;
  -o-object-fit: contain;
  object-fit: contain;
}
.container{
  min-width: 30rem;
  width: 45%;
  margin: 5rem auto;
  background-color: #ffffff;
  padding: 2rem;
  min-height: 30rem ;
}

.title.container{
 min-height: 10rem;
 margin-bottom: 1rem;
 }
  
.main-title{
width: 48%;
float: left;
}

.scores{
  width: 45%;
  float: right;
}

.main-title .title{
  font-size: 2rem;
}
.scores .score{
  font-size: 1.26rem;
  font-weight: 400;
}

.scores .score span{
  font-weight: 800;
}

.weapons-container{
  min-height: 10rem;
  margin-bottom: 1rem;
}

.btn-weapon{
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin: 0 0.4rem;
  background-color: rgba(201,37,107,1);
  border: 3px solid #000;
  /* outline: none; */
  cursor: pointer;
}

h1{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

/* .container {
  width: 50%;
  height: 500px;
  background-color: #fff; */
}
/* .box { */
  /* width: 90%; */
  /* height: 200px; */
  /* background-color: #333; */
}
